<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Chọn Máy Bơm</h5>
      <ul class="list-unstyled">
        <li>Máy bơm nước Hitachi</li>
        <li>Máy bơm nước Hanil</li>
        <li>Máy bơm nước Pedrollo</li>
        <li>Máy bơm nước Sealand</li>
        <li>Máy bơm nước Wilo</li>
        <li>Máy bơm nước Shimizu</li>
        <li>Máy bơm nước Panasonic</li>
        <li>Máy bơm nước Ebara</li>
        <li>Máy bơm nước Pentax</li>
      </ul>
    </div>
  </div>