<footer class="mt-4">
  <div class="text-center border-top pt-3">
    <h5>Đối Tác Của Chúng Tôi</h5>
    <div class="image-container">
      <img src="assets\imgs\nhataitro\app.png" alt="Ảnh 1">
      <img src="assets\imgs\nhataitro\dab.png" alt="Ảnh 2">
      <img src="assets\imgs\nhataitro\ebara.png" alt="Ảnh 3">
      <img src="assets\imgs\nhataitro\ebara.png" alt="Ảnh 4">
      <img src="assets\imgs\nhataitro\electricpump.png" alt="Ảnh 5">
      <img src="assets\imgs\nhataitro\fcnp.png" alt="Ảnh 6">
      <img src="assets\imgs\nhataitro\hitachi.png" alt="Ảnh 7">
      <img src="assets\imgs\nhataitro\kangaroo.png" alt="Ảnh 8">
      <img src="assets\imgs\nhataitro\leo.png" alt="Ảnh 9">
      <img src="assets\imgs\nhataitro\luckypro.png" alt="Ảnh 10">
      <img src="assets\imgs\nhataitro\panasonic.png" alt="Ảnh 11">
      <img src="assets\imgs\nhataitro\pedrollo.png" alt="Ảnh 12">
      <img src="assets\imgs\nhataitro\pentax.png" alt="Ảnh 13">
      <img src="assets\imgs\nhataitro\peroni.png" alt="Ảnh 14">
      <img src="assets\imgs\nhataitro\sealand.png" alt="Ảnh 15">
      <img src="assets\imgs\nhataitro\selton.png" alt="Ảnh 16">
      <img src="assets\imgs\nhataitro\shimge.png" alt="Ảnh 17">
      <img src="assets\imgs\nhataitro\shinil.png" alt="Ảnh 18">
      <img src="assets\imgs\nhataitro\shirai.png" alt="Ảnh 19">
      <img src="assets\imgs\nhataitro\wilo.png" alt="Ảnh 20">

    </div>
  </div>
</footer>
