<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIỚI THIỆU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MUA HÀNG & THANH TOÁN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CHÍNH SÁCH BẢO HÀNH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TIN TỨC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIÊN HỆ <span class="cart-icon">🛒</span>GIỎ HÀNG (0)</a></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>