html,body{
    margin: 0;
    padding: 0;
}


img.align-middle {
    height: 150px;
}
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.old-price {
    text-decoration: line-through;
    color: gray;
}
.new-price {
    color: red;
    font-weight: bold;
}

img.card-img-top {
    width: 50%;
}
#dslist li {
    border-bottom: slategray solid 2px;
    width: 100%;
    background-color: #f8f8f8;
    
}
#dslist li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.row.align-items-center {
    background: white;
}