html,body{
    margin: 0;
    padding: 0;
}
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.old-price {
    text-decoration: line-through;
    color: gray;
}
.new-price {
    color: red;
    font-weight: bold;
}

img.card-img-top {
    width: 50%;
}
#dslist li {
    border-bottom: slategray solid 2px;
    width: 100%;
    background-color: #f8f8f8;
    
}
#dslist li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.row.align-items-center {
    background: white;
}
.image-container {
    display: flex; /* Sắp xếp các ảnh theo hàng ngang */
    justify-content: space-around; /* Căn chỉnh các ảnh đều nhau */
    gap: 10px; /* Khoảng cách giữa các ảnh */
    width: 100%; /* Đảm bảo chiều rộng của container đầy đủ */
  }

  .image-container img {
    display: none; /* Ẩn ảnh mặc định */
    width: 150px; /* Chiều rộng ảnh */
    height: 100px; /* Chiều cao ảnh */
  }